<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'layout/header.html' %}
    
    <main class="container mx-auto px-4 py-8">
        <input type="hidden" id="expenseData" value="{{ expenseData }}">
        <div class="bg-white p-6 shadow-md my-5">
            <h2 class="text-xl font-semibold mb-4">平均家戶支出資料</h2>
            <div class="flex  items-center">
                <div class="w-full" id="expense-histogram-chart"></div>
                <p class="w-[30%] mx-auto text-xl text-gray-700 font-bold text-center">
                    根據圖表分析，各地區的家戶消費支出結構呈現多樣性。
                    「食品及非酒精飲料」及「住宅服務、水電瓦斯」為大部分地區的主要支出項目，
                    而「教育」及「醫療保健」的支出比例則因地區而異。
                    此外，新竹縣/市的家庭支出顯著高於其他地區，顯示其生活水平及消費能力的不同。
                </p>
            </div>
        </div>
        <div class="bg-white p-6 shadow-md my-5">
            <h2 class="text-xl font-semibold mb-4">縣市支出占比</h2>
            <div class='flex flex-wrap justify-center' id="treemap"></div>
        </div>

    </main>
    <script src="{{ url_for('static', filename='js/expense-analyze.js') }}"></script> 
</body>
</html>