<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'layout/header.html' %}
    
    <main class="container mx-auto px-4 py-8">
      <section class="bg-white p-6 rounded-lg shadow-md my-5">
          <h2 class="text-xl font-semibold mb-4">資料視覺化</h2>
          <p class="mb-4">此專案當中透過視覺化展示了112年度家庭收支的各種統計資料，以及歷年的變化情形。</p>
            <p>資料來源: <a class="underline" href="https://www.dgbas.gov.tw/" target="_blank">行政院主計總處</a></p>
      </section>

      <section class="bg-white p-6 rounded-lg shadow-md my-5">
        <h2 class="text-xl p-3">112年度家庭收支資料視覺化專區</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0">
          <a href="income-analyze" class="block w-80 bg-yellow-500 text-white text-center p-4 rounded-lg shadow hover:bg-yellow-600">家庭收入分析</a>
          <a href="expense-analyze" class="block w-80 bg-green-500 text-white text-center p-4 rounded-lg shadow hover:bg-green-600 -mx-6">家庭支出分析</a>
          <a href="disposable-income" class="block w-80 bg-blue-500 text-white text-center p-4 rounded-lg shadow hover:bg-blue-600 -mx-12">消費與可支配所得之間的關係</a>
        </div>
      </section>

      <section class="bg-white p-6 rounded-lg shadow-md my-5">
        <h2 class="text-xl p-3">歷史資料</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          <a href="history-income-expense" class="block bg-red-500 text-white text-center p-4 rounded-lg shadow hover:bg-red-600">歷年收支變化</a>
        </div> 
      </section>
      
      <!-- 地圖圖表容器 -->
      <input type="hidden" id="incomeData" value="{{ incomeData }}">
      <input type="hidden" id="geo_data" value="{{ geo_data }}">
      
      <section class="bg-white p-6 rounded-lg shadow-md my-5">
        <h2 class="text-xl font-semibold mb-4">地區資料地圖</h2>
        <div id="mapChart" class="w-full h-96"></div>  <!-- 地圖圖表顯示區域 -->
      </section>
    </main>
    <script src="{{ url_for('static', filename='js/income-map.js') }}"></script>
</body>
</html>